<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/header') %>

        <title>
            <%=blog.title %>
        </title>
</head>

<body>

    <%- include('./partials/navbar') %>

        <div class="container mt-3">
            <h1>
                <%= blog.title %>
            </h1>

            <img src="/<%= blog.coverImageURL %>" width="700px">
            <pre><%= blog.body %></pre>

        </div>
        <div class="container mt-4">
            <% if (blog.createdBy && blog.createdBy.profileImageURL) { %>
                <img src="<%= blog.createdBy.profileImageURL %><%= blog.createdBy.profileImageURL.endsWith('.jpg') ? '' : '.jpg' %>"
                    width="100px" alt="profile">
                <%= blog.createdBy.FullName %>
                    <% } else { %>
                        <img src="/images/default_profile_image.jpg" width="100px" alt="profile">
                        <p>User Info Not Available</p>
                        <% } %>
        </div>




        <div class="container mt-3">

            

            <% if (locals.user) { %>
                <h1>Comments</h1>
                <form action="/blog/comment/<%= blog._id %>" method="POST">

                    <div class="form-group mt-2">
                        <label for="exampleInputcomment">Comment</label>
                        <input type="text" class="form-control" name="content" id="exampleInputcomment"
                            placeholder="Enter comment" required>
                    </div>

                    <button type="submit" class="btn btn-primary mt-2">Submit</button>
                </form>
                <% } %>
        </div>

        <div class="container mt-3">
            <h2>All Comments</h2> <h3><%= (comment.length) %></h3>
           
            <% comment.forEach(comment => { %>
                <div style="border: 1px solid #ddd; padding: 10px; margin: 10px 0;">
                    <img src="<%= comment.createdBy.profileImageURL %><%= comment.createdBy.profileImageURL.endsWith('.jpg') ? '' : '.jpg' %>"
                        width="100px" alt="profile">
                    <h6><%= comment.createdBy.FullName %></h6>
                    <p><%= comment.content %></p>
                </div>
            <% }) %>
        </div>


        <%- include('./partials/script') %>
</body>

</html>